@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 285 33% 94%;
    --foreground: 283 15% 20%;
    --card: 285 33% 99%;
    --card-foreground: 283 15% 20%;
    --popover: 285 33% 99%;
    --popover-foreground: 283 15% 20%;
    --primary: 283 44% 53%;
    --primary-foreground: 285 100% 98%;
    --secondary: 285 33% 90%;
    --secondary-foreground: 283 15% 20%;
    --muted: 285 33% 90%;
    --muted-foreground: 283 10% 45%;
    --accent: 329 50% 80%;
    --accent-foreground: 329 20% 25%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 283 20% 85%;
    --input: 283 20% 88%;
    --ring: 283 44% 53%;
    --chart-1: 283 44% 53%;
    --chart-2: 329 50% 70%;
    --chart-3: 285 40% 65%;
    --chart-4: 283 30% 45%;
    --chart-5: 329 40% 60%;
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 222 47% 11%;
    --foreground: 210 40% 98%;
    --card: 222 47% 14%;
    --card-foreground: 210 40% 98%;
    --popover: 222 47% 11%;
    --popover-foreground: 210 40% 98%;
    --primary: 210 40% 60%;
    --primary-foreground: 222 47% 11%;
    --secondary: 217 33% 17%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217 33% 17%;
    --muted-foreground: 215 20% 65%;
    --accent: 217 33% 25%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;
    --border: 217 33% 20%;
    --input: 217 33% 22%;
    --ring: 210 40% 60%;
    --chart-1: 210 40% 60%;
    --chart-2: 217 40% 50%;
    --chart-3: 217 40% 40%;
    --chart-4: 217 40% 30%;
    --chart-5: 217 40% 20%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
